body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.screen {
    position: relative;
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow: hidden;
}
.message {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}
.message p, .message h2 {
    margin: 0;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    overflow-wrap: break-word;
    max-width: 100%;
}
